.overflow-container {
    overflow-y: scroll;
}

.todos-bg-container {
    background-color: #6495ED;
    /* #00FFFF #F84119 #6495ED*/
    background-size: cover;
}

.todos-heading {
    text-align: center;
    font-family: 'Roboto';
    font-size: 46px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    color: black;
    color: white;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    color: white;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.add-todo-button {
    color: white;
    background-color: #F84119;
    /* #F84119 */
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.todo-item-container {
    margin-top: 15px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    /*#096f92*/
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.label-container1 {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    /*#096f92*/
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
}

.checked {
    text-decoration: line-through;
}

.button {
    color: white;
    background-color: #F84119;
    /* #4c63b6 */
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.tasks-status {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.tasks-status-no {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 23px;
    color: gold;
}

.congrats-heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 25px;
    color: blue;
}

.priority-class {
    background-color: grey;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    height: 60px;
}

.priority {
    background-color: #FFFFFF;
    padding: 10px;
    color: #000000;
    font-family: "Roboto";
    font-weight: bold;
}

.congrats-popup-5-seconds {
    background-color: grey;
    border-radius: 15px;
    margin: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.congrats-heading-popup {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
